---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Muthamil selvan" description="About Muthamil selvan ">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hey there! I'm Muthamil Selvan, and I'm all about diving deep into data to uncover insights that drive decision-making. With over 3 years of hands-on experience in Python, SQL, Tableau, and PowerBI, I've been optimizing data workflows, fine-tuning ETL processes, and crafting actionable insights like it's second nature.
					</p>
				
					<p>
						At Devoir Software Solutions LLC in Missouri, I got my hands dirty with PowerBI dashboards, tweaking DAX calculations, and making reports more responsive - all of which contributed to a 10% boost in efficiency. And over at Brightcove India Private Limited in Chennai, my ETL SQL queries slashed data processing time by 30%, while my Python scripts turbocharged our exploratory data analysis.
I've got a knack for finding patterns in data - whether it's through advanced statistical techniques in PowerBI or crunching numbers with machine learning algorithms. And let's not forget my time at S.I.IT Consultancy Services India Private Limited, where I led a Tableau project that left clients smiling with a 20% increase in satisfaction.
					</p>
				
					<p>
						With an MS in Business Analytics from California State University, East Bay under my belt, I'm all about pushing the boundaries of what's possible with data. From AI-powered music suggestions to forecasting future energy consumption, I've done it all - and I'm hungry for more.
So if you're looking for someone who can turn raw data into gold, look no further. Let's chat and see how we can work together to unlock the full potential of your data!

					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Masters in Business Analytics at California state university, EastBay.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Python

						SQL
						
						Data Analysis,
						Tableau, PowerBI
						
						Microsoft SQL Server, MySQL,PostgreSQL,
						
						Excel,
						
						Machine Learning Algorithms -Decision Tree, KNN classifier, Linear Regression, Logistic regression, Random Forest
						
						Microsoft Azure,
						
						Big data and Data warehouse.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
